@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

$dark-gray: #313131;
$sub-title-gray: #9C9A9F;
$border-gray: #c8c5c5;
$title-font-size: 2em;
$text-font-size: 1.25em;



* {
  font-family: 'Lato', sans-serif;
}
body {
  margin: 0;
}


